
@font-face {
  font-family: 'Simply Rounded';
  src: url('../fonts/Simply Rounded.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#body {
  height: 100vh;
  width: 100vw;
  font-family: 'Simply Rounded' !important;
  background-image: url(../img/graph.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc; /* Used if the image is unavailable */
}

div.container {
  /* height: 90vh; */
}

h1.d-flex.mt-5 {
  font-size: 5rem; important!
}

a#login {
  font-size: 2rem;
  text-decoration: blink;
  color: red;
}
