{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet"
href="templates/css/styleview.css">
{% endblock %}

{% block body %}
  <div class="container d-flex flex-column h-90 w-auto">

  <h1 class="d-flex mt-5 p-2">DASHBOARD</h1>
  
  <!-- affiche article à louer -->


   <a href="{{ path('app_login') }}">Login<i class="fas fa-key fa-x3 ml-2"></i></a>
{% endblock %}
