{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="css/styleAcc.css">
{% endblock %}

{% block body %}
<div id="body">
  <div class="container d-flex flex-column h-90 w-auto">

  <h1 class="d-flex mt-5 p-2">DASHBOARD</h1>
  
  {#variable current_page :{{current_page}}#}


</div>
{% endblock %}
