{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}
{% block stylesheets %}
<link rel="stylesheet"
href="templates/css/styleview.css">
{% endblock %}

{% block body %}
  <div class="container d-flex flex-column h-90 w-auto">

  <h1 class="d-flex mt-5 p-2">DASHBOARD</h1>
   <!-- Button HTML (to Trigger Modal) -->

   <a href="#myModal" class="trigger-btn m-0 p-5" id="login" data-toggle="modal">Login<i class="fas fa-key fa-x3 ml-2"></i></a>
{% endblock %}
